<div class="row">
  <div class="col-xs-12">
    <p>Add new Server or blueprint!</p>
    <label for="name">Server Name</label>
    <input
      type="text"
      id="name"
      class="form-control"
      [(ngModel)]="newServerName"
    />
    <label for="name">Server Content</label>
    <input
      type="text"
      id="name"
      class="form-control"
      [(ngModel)]="newServerContent"
    />
    <br />
    <button class="btn btn-primary" (click)="(onAddServer)">Add Server</button>
    <button class="btn btn-primary" (click)="(onAddBlueprint)">
      Add Server Blueprint
    </button>
  </div>
</div>
